$correct: #99cc00;
$wrong: #f0a3a3;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400&display=swap");

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #06090f;
  min-height: 100vh;
}

span.active {
  color: #fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 2px;
  .correct {
    color: $correct;
  }
  .wrong {
    color: $wrong;
  }
}

.past-correct {
  color: $correct;
}

.timer-wrapper {
  margin-top: 60px;
}
.time {
  font-size: 30px;
}
.right {
  margin-left: 20px;
}
.unit {
  margin-left: 10px;
  font-size: 16px;
}
